body{
    background-color: #293241;
}

@font-face {
    font-family: 'FuenteTitulo';
    src: url('fuentes/Chunky\ Funks.otf');
    src: url('fuentes/Chunky\ Funks.ttf');
}

#juego{
    display: flex;
    flex-wrap: wrap;
}

#titulo{
    color: #73A6AD;
    font-family: 'FuenteTitulo', sans-serif;
    font-size: 2rem;
    margin-left: 2rem;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* el 1fr es la fraccion del espacio, aqui son todas iguales pero si pusieramos 1fr 2fr 1fr la segunda columna seria el doble de las otras*/
    gap: 10px;
    width: 600px;
    padding-inline: 2rem;
    box-sizing: border-box; /* para que no cuente el padding en el width */
}

.caja{
    background-color: #3d5a80;
    aspect-ratio: 1 / 1; /* mantiene la caja cuadrada sin fijar width y height */
    border: 10px solid #2b3f5a;
    border-radius: 10%;
}

#panel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#empezar{
    background-color: #EE6C4D;
    border: 10px solid #b7553c;
    border-radius: 10%;
    padding: 2rem;

    font-family: 'FuenteTitulo', sans-serif;
    font-size: 1.5rem;
    color: #293241;
}

#info{
    color: #73A6AD;
    font-family: 'FuenteTitulo', sans-serif;
    font-size: 1.5rem;
    
}

#empezar.pausa{
    background-color: #3d5a80;
    border: 10px solid #2b3f5a;
    color: #73A6AD;
}

.caja.activo{
    background-color: #EE6C4D;
    border: 10px solid #b7553c;
}